@if (loaderState.loading) {
  <div class="loader-container">
    <app-loader [state]="loaderState.state"></app-loader>
  </div>
}
@else {
  <div class="container py-3">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Lista Helados</h1>
          <app-lista-helados (onSelect)="onSelect($event)"></app-lista-helados>
      </div>
    
      <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Añadir Helado</h4>
              </div>
              <div class="card-body">
                  <app-form-helado (onSubmit)="onAdd($event)"></app-form-helado>
              </div>
            </div>
          </div>
          @if (selectedHelado) {
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Modificar</h4>
                </div>
                <div class="card-body">
                  <app-modificar-helado [helado]="selectedHelado"></app-modificar-helado>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                  <h4 class="my-0 fw-normal">Eliminar</h4>
                </div>
                <div class="card-body">
                  <app-eliminar-helado [helado]="selectedHelado" (onUnselect)="onUnselect()"></app-eliminar-helado>
                </div>
              </div>
            </div>
          }
        </div>
      </main>
    </div>
}