<div class="container">
    @if (loaderState.loading) {
        <div class="d-flex justify-content-center">
            <app-loader [state]="loaderState.state"></app-loader>
        </div>
    }
    @else {
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
                alt="" width="72" height="72">
            <h2>Alta actor</h2>
        </div>
    
        <div class="row">
            <div class="container-paises col-md-4 order-md-2 mb-4">
                <app-tabla-paises (onSelect)="seleccionarPais($event)"></app-tabla-paises>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Datos</h4>
                <form [formGroup]="form" (ngSubmit)="addActor()">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control bg-dark text-white" for="nombre" formControlName="nombre">
                            <div class="error">
                                @if(nombre?.hasError('required'))
                                {
                                    El actor debe tener un nombre
                                }
                                @else if (nombre?.hasError('pattern')) {
                                    El nombre solo debe contener letras
                                }
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="dni">Dni</label>
                            <input type="text" class="form-control bg-dark text-white" formControlName="dni">
                            <div class="error">
                                @if(dni?.hasError('required'))
                                {
                                    El actor debe tener un dni
                                }
                                @else if (dni?.hasError('pattern')) {
                                    El dni solo debe contener numeros
                                }
                                @else if (dni?.hasError('minlength') || dni?.hasError('maxlength')) {
                                    El dni debe contener exactamente 11 digitos
                                }
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edad">edad</label>
                            <input type="number" class="form-control bg-dark text-white" for="edad" formControlName="edad">
                            <div class="error">
                                @if(edad?.hasError('required'))
                                {
                                    El actor debe tener una edad
                                }
                                @else if (edad?.hasError('min')) {
                                    El repartidor debe ser mayor de 18 años
                                }
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="capacidad de transporte">capacidad de transporte</label>
                            <input type="number" class="form-control bg-dark text-white" for="capacidad de transporte" formControlName="capacidadTransporte">
                            <div class="error">
                                @if(capacidadTransporte?.hasError('required'))
                                {
                                    El actor debe tener una edad
                                }
                                @else if (capacidadTransporte?.hasError('min')) {
                                    El repartidor cargar al menos 1 pote de helado
                                }
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                                <label for="capacidad de transporte">unidad</label>
                                <input type="checkbox" class="form-check-input bg-dark text-white" for="capacidad de transporte" formControlName="unidad">
                            </div>
                        </div>

                        
                        

                    </div>
                    <label for="pais" class="font-weight-bold">Pais:</label>
                    <div formGroupName="paisOrigen">
                        <div class="row" style="height: 200px;">
                            <div class="flag-container col-6">
                                <img [src]="paisSeleccionado.flag || 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-round-Question_mark.svg/1200px-Icon-round-Question_mark.svg.png' " [alt]="paisSeleccionado.flag" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div class="col-6">
                                <label for="region">Region:</label>
                                <input class="form-control" formControlName="region" readonly>
                            
                                <label for="official">Nombre Oficial:</label>
                                <input class="form-control" formControlName="official" readonly>
                            
                                <label for="common">Nombre Comun</label>
                                <input class="form-control" formControlName="common" readonly>
                            </div>
    
                        </div>
                    
                        <input id="flag" formControlName="flag" readonly hidden>
                        <input id="alt" formControlName="alt" readonly hidden>
                      </div>
    
                    @if(paisOrigen.invalid){
                        <div class="error">
                            Debes elegir un pais
                        </div>
                    }
                    <button [disabled]="!form.valid" class="my-2 btn btn-primary btn-lg btn-block" type="submit" style="width: 100%;">Añadir</button>
                </form>
        </div>
    </div>
    }
</div>
    