<form [formGroup]="form" (ngSubmit)="aceptarTerminos()">
    <div class="fullscreen-message">
        <div class="message-box">
            @if (loaderState.loading) {
                <div class="d-flex justify-content-center">
                    <app-loader [state]="loaderState.state"></app-loader>
                </div>
            }
            @else {
                <h1>Terminos y Condiciones</h1>
                <p>Para seguir navegando debes de aceptar los terminos y condiciones de uso.</p>
    
                <div class="my-5">
                    <label for="dni">Email</label>
                    <input type="text" class="form-control bg-dark text-white" formControlName="email">
                    <div class="error">
                        @if(email?.hasError('required'))
                        {
                            Debe ingresar un email
                        }
                        @else if (email?.hasError('email')) {
                            Formato invalido de email
                        }
                    </div>
                </div>
                
                <button [disabled]="!form.valid" type="submit" class="cool-capsule-button">Aceptar</button>
            }
        </div>
    </div>
</form>

