@if (router.url != '/login')
{
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="busqueda" routerLinkActive="active">Busqueda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="alta-repartidor" routerLinkActive="active">Alta Repartidor</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Peliculas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="peliculas/alta" routerLinkActive="active">Añadir</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="peliculas/listado" routerLinkActive="active">Listado</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Actor
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="actor/alta" routerLinkActive="active">Añadir</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="actor/listado" routerLinkActive="active">Listado</a></li>
              </ul>
            </li>
            @if (authService.currentUserSignal() != null) {
              <button (click)="authService.logOut()">Log Out</button>
            }
            @else {
              <button routerLink="login" routerLinkActive="active">Login</button>
            }
          </ul>
        </div>
      </div>
    </nav>
}
