
    <ul class="list-group mb-4">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6>Nombre</h6>
            <h6>{{repartidor.nombre}}</h6>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6>DNI</h6>
            <h6>{{repartidor.dni}}</h6>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6>Edad</h6>
            <h6>{{repartidor.edad}}</h6>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6>Unidad</h6>
            <h6>{{repartidor.unidad}}</h6>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6>Capacidad de Transporte</h6>
            <h6>{{repartidor.capacidadTransporte}}</h6>
        </li>
    </ul>